
.background-image{
  background-repeat: no-repeat; 
  background-position: bottom; 
  background-size: 150%;
}
button:hover{
    color: #DB4782; 
}

table.table-center-contents{
    width: 100%;
    height: 100%;

}

table.table-center-contents td{
    vertical-align: center;
}

h1 {
   background: -webkit-linear-gradient( #DF4985, #7A98EE);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.gradient-container{
  background-image: linear-gradient(to right, #DF4985 , #7A98EE);
  border-radius: 20px;
}

@media (max-width: 575px)
{
    .gradient-error-pages
    {
        padding: 10px 10px !important;
        width: 100% !important;
    }
}

@media (max-width: 516px)
{
    .error-images
    {
      background-size: 100% !important;
    }
}

/*animations*/

#number-spacing {
    letter-spacing:15px;
    -webkit-animation: number 3.5s;
          animation: number 3.5s;
}

@-webkit-keyframes number {
  0%   { letter-spacing: -40px; }
  100% { letter-spacing: 15px; }
}
@keyframes number {
  0%   { letter-spacing: -40px; }
  100% { letter-spacing: 15px; }
}




#title-spacing {
    letter-spacing:-3px;
    -webkit-animation: title 2.5s;
          animation: title 2.5s;
}

@-webkit-keyframes title {
  0%   { letter-spacing: -10px; }
  100% { letter-spacing: -3px; }
}
@keyframes title {
  0%   { letter-spacing: -10px; }
  100% { letter-spacing: -3px; }
}
