*
{
    box-sizing: border-box;
}

:root 
{
    --primary-color: #DF4985;
    --secondary-color: #7A98EE;
    --font-color: #FFFFFF;
    --bg-color: #fff;
    --heading-color: #000733;
}


body
{
    background-color: var(--bg-color);
    background-image: url('/img/background/background-grid.png');
    margin: 0px;
    padding: 0px;
    font-family: Poppins, sans-serif;
    font-size: 17px;
    text-align: left;
    color: var(--heading-color);
    overflow-x: hidden;
}


header
{
    background-image: linear-gradient(to right, #DF4985 , #7A98EE);
    color: #FFFFFF;
    padding: 20px 10px 0 10px;
}

header
{
    width: 100%
}

nav,
nav .container-fluid
{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

nav .navbar-brand
{
    color: #FFFFFF;
    font-weight: 700;
}

nav .nav-link
{
    margin: 12px 5px;
    vertical-align: middle;
}

nav .nav-link:link,
nav .nav-link:visited
{
    color: #FFFFFF !important;
    padding: 5px 7px;
    border-radius: 7px;
    border: 2px solid transparent;
}

nav .nav-link:hover,
nav .nav-link:active
{
    color: #FFFFFF !important;
    text-decoration: underline;
}

nav li
{
    display: inline-block;
}

nav navbar-toggle
{
    background-color: white;
    border:none;
}


footer
{
    background-color: #202020;
    color: #FFFFFF;
    font-weight: 100;
    font-size: 22px;
    padding: 10px;
    text-align: center;
}


.gradient
{
    background-image: linear-gradient(to right, #DF4985 , #7A98EE);
}

.gradient-container
{
    background-image: linear-gradient(to right, #DF4985 , #7A98EE);
    width: 100%;
    padding: 0 20px;
    margin: 0;
    position: relative;
}

.waves-image-top
{
    width: 100%;
    vertical-align: top;
}

.waves-image-bottom
{
    width: 100%;
    vertical-align: bottom;
}

hr
{
    border: 3px solid var(--font-color);
    margin: 0px;
}

hr.hr-white
{
    border-color: #FFFFFF !important;
}


.no-padding
{
    padding: 0px !important;
}


.center-text
{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
    text-align: right;
}

.center-content
{
    align-items: center;
    justify-content: center;
    margin: auto;
}

.center-button
{
    text-align: center;
}

.border-radius-20
{
    border-radius: 20px;
}


.full-size, .full-size-80, .full-size-60, .full-size-50, .full-size-40, .full-size-30
{
    padding: 0px;
}

.full-size
{
    min-height: 100vh;
}

.full-size-80
{
    min-height: 80vh;
}

.full-size-60
{
    min-height: 60vh;
}

.full-size-50
{
    min-height: 50vh;
}

.full-size-40
{
    min-height: 40vh;
}

.full-size-30
{
    min-height: 30vh;
}


::selection
{
    background-color: #00c2cb;
    color: #FFFFFF;
}


.top-section-outer
{
    padding: 30px 0px;
    margin: auto;
}


h1, h2, h3, h4, h5, h6
{
    font-family: Rubik, sans-serif;
    text-align: center;
}

h1
{
    font-size: 27px;
    font-weight: 600;
    text-align: left;
    color: var(--font-color)
}

h2
{
    font-size: 27px;
}

h3
{
    font-size: 22px;
}

.pink-heading
{
    font-size: 30px;
    color: var(--primary-color);
    font-weight: bold;
    text-align: center;
}

.navy-blue-button
{
    background-color: var(--heading-color);
    color: var(--font-color);
    font-weight: 700;
    font-size: 20px;
    border:none;
    border-radius: 20px;
    padding: 5px 20px;
}

        
input, select, textarea
{
    border: none !important;
    background-color: #000733 !important;
    color: white !important;
}

textarea
{
    padding: 6px 15px;
}

input:not([type=submit], [type=button], [type=reset])::placeholder, textarea::placeholder,
input:not([type=submit], [type=button], [type=reset]):-moz-placeholder, textarea:-moz-placeholder,
input:not([type=submit], [type=button], [type=reset])::-moz-placeholder, textarea::-moz-placeholder,
input:not([type=submit], [type=button], [type=reset]):-ms-input-placeholder, textarea:-ms-input-placeholder,
input:not([type=submit], [type=button], [type=reset])::-webkit-input-placeholder, textarea::-webkit-input-placeholder
{
    color: #aaaaaa !important;
}

input:-webkit-autofill,
select:-webkit-autofill,
textarea:-webkit-autofill
{
    -webkit-box-shadow: 0 0 0 50px #000733 inset;
    box-shadow: 0 0 0 50px #000733 inset;
    -webkit-text-fill-color: #aaaaaa;
}

input:-webkit-autofill:focus,
select:-webkit-autofill:focus,
textarea:-webkit-autofill:focus
{
    -webkit-box-shadow: 0 0 0 50px #000733 inset;
    box-shadow: 0 0 0 50px #000733 inset;
    -webkit-text-fill-color: #aaaaaa;
}


@media (max-width: 767px)
{
}

@media (min-width: 576px)
{
    .container-no-gradient-sm
    {
        background-image: none;
        width: 100%;
        padding: 0 20px;
        margin: 0;
    }

    .gradient-container h1
    {
        color: var(--heading-color);
    }

    .align-item-bottom
    {
        align-self: flex-end;
    }

    hr 
    {
        
        border: 3px solid var(--heading-color);
        margin: 0;
    }

    .center-button
    {
        text-align: initial;
    }
}

@media (max-width: 575px)
{
    .gradient-container
    {
        padding: 50px 0px;
    }
    
    .top-section-outer
    {
        padding: 0px;
        margin-top: 0px;
    }
}
